body {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    color: orange;
    background-color: #0047AB;
}

h2 {
    color: white;
    background-color: black;
}

.dash-graph {
    height: 90vh;
}